{{define "title"}}
Batch queries
{{end}}

{{define "content"}}
 
  
<div class="row p-2">
  <div class="col">
    <div class="card ">
      <div class="card-header">
        <p class="h5">Batch Jobs  
          <a data-toggle="tooltip" data-placement="bottom" title="Add new server"
           class="btn btn-ghost-info float-right" href="/batchquery/add">+Add</a></p>
           <small class="text-muted">To execute long running queries in batch. Use @batch prefix for your query or add a new batch job using "+Add" button. </small>

      </div>
      <div class="card-body">

 <table id="batchquerylist"  class="table   table-borderless table-responsive-sm table-striped    ">
  <thead class="thead-dark">
     <tr>
      <th>Created at</th>
 
       <th>Server</th>
        <th>SQL</th>
       <th>Status</th>
       <th>Next run</th>
       <th>Repeat Duration</th>
       <th>Run count</th>

       <th>Options </th>
       
      </tr>
    </thead>
    <tbody>
      
      {{if .BatchQueries}}
        {{range .BatchQueries}}
        <tr>
          <td>{{.CreatedAt | humanDate }}</td>
 
             <td>{{.Server.Name}}</td>
             <td>{{.RunningSql.Sql}}</td>
            <td>{{.Status}}</td>
            <td>{{.NextRun | humanDate}}</td>
            <td>{{.RepeatEvery}}</td>
            <td>{{.ProcessedXtimes}}/{{.RepeatXtimes}}</td>
          

            <td nowrap>
              <a class="btn btn-primary" href='/batchquery/runs/{{.RunningSql.ID}}'  >Results</a>

                      <a class="btn btn-danger" href='/batchquery/delete/{{.RunningSql.ID}}'  >Delete</a>

            </td>

        </tr>
        {{end}}
        {{end}}
          </tbody>
 </table>
  </div>
 </div> </div> </div>
{{end}}


{{define "aftercontent"}}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script>
  
    $(document).ready( function () {
      $('#batchquerylist').DataTable(
        {
              "language": {
                "emptyTable": "No results found"
              }
          }
      );
  } );
</script>
{{end}}