{{define "title"}}
Batch queries
{{end}}

{{define "content"}}
<br />
<div class="px-5">

 <div class="row">
 <div class="col"  style="padding-bottom: 10px;"><p class="h3">Batch Jobs <a class="btn btn-primary" href="/batchquery/add">+Add</a></p>
  <small class="text-muted">To execute long running queries in batch. Use @batch prefix for your query or add a new batch job using "+Add" button. </small>

</div>

 </div>
 
 <table id="batchquerylist"  data-order='[[ 0 , "desc" ]]'  class="table table-bordered table-striped">
   <thead>
     <tr>
      <th>Created at</th>
 
       <th>Server</th>
        <th>SQL</th>
       <th>Status</th>
       <th>Next run</th>
       <th>Repeat Duration</th>
       <th>Run count</th>

       <th>Options </th>
       
      </tr>
    </thead>
    <tbody>
      
      {{if .BatchQueries}}
        {{range .BatchQueries}}
        <tr>
          <td>{{.CreatedAt | humanDate }}</td>
 
             <td>{{.Server.Name}}</td>
             <td>{{.RunningSql.Sql}}</td>
            <td>{{.Status}}</td>
            <td>{{.NextRun | humanDate}}</td>
            <td>{{.RepeatEvery}}</td>
            <td>{{.ProcessedXtimes}}/{{.RepeatXtimes}}</td>
          

            <td nowrap>
              <a class="btn btn-primary" href='/batchquery/runs/{{.RunningSql.ID}}'  >Results</a>

                      <a class="btn btn-danger" href='/batchquery/delete/{{.RunningSql.ID}}'  >Delete</a>

            </td>

        </tr>
        {{end}}
          </tbody>
        </table>
    {{end}}
  </div>

{{end}}


{{define "aftercontent"}}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script>
  
    $(document).ready( function () {
      $('#batchquerylist').DataTable(
        {
              "language": {
                "emptyTable": "No results found"
              }
          }
      );
  } );
</script>
{{end}}