{{define "title"}}
Delete Query Alias
{{end}}

{{define "content"}}
 
       <div class="row p-2">
        <div class="col">
          <div class="card ">
            <div class="card-header">
              <p class="h5">Delete Query Alias 
                </p>
            </div>
            <div class="card-body  ">
<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td>ID</td>
            <td>{{.ShortHandQuery.ID}}</td>
        </tr>
    
        <tr>
            <td>Name</td>
            <td>{{.ShortHandQuery.Name}}</td>
        </tr>



        <tr>
            <td>Query</td>
            <td>{{.ShortHandQuery.Sql}}</td>
        </tr>

   
    </tbody>
</table>

 

<form method="post" action="/queryalias/delete">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
          <input type="hidden" name="queryid" value="{{.ShortHandQuery.ID}}">
    <button type="submit" class="btn btn-danger">Confirm</button>

</form>
</div></div></div></div>
{{end}}