{{define "title"}}
Server detail
{{end}}

{{define "content"}}
<div class="px-5">
    <div class="row">
        <div class="col" style="padding-bottom: 10px;"><p class="h3">Query Details</p>
       </div> 

    </div> 
<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td>ID</td>
            <td>{{.SavesQuery.ID}}</td>
        </tr>
        <tr>
            <td>Category</td>
            <td>{{.SavesQuery.Category}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{.SavesQuery.Name}}</td>
        </tr>



        <tr>
            <td>Query</td>
            <td>{{.SavesQuery.Sql}}</td>
        </tr>

   
    </tbody>
</table>

<a class="btn btn-primary " href="/savesql">Back to Query list</a>

</div>

 
{{end}}