{{define "title"}}
Server detail
{{end}}

{{define "content"}}
<div class="px-5">
    <div class="row">
        <div class="col" style="padding-bottom: 10px;"><p class="h3">Server Details</p>
       </div> 

    </div> 
<table  class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td>Server ID</td>
            <td>{{.Server.ID}}</td>
        </tr>

        <tr>
            <td>Server Name</td>
            <td>{{.Server.Name}}</td>
        </tr>

        <tr>
            <td>Server IP</td>
            <td>{{.Server.IP}}</td>
        </tr>
        <tr>
            <td>WorkLib</td>
            <td>{{.Server.WorkLib}}</td>
        </tr>
        <tr>
            <td>Server Port</td>
            <td>{{.Server.Port}}</td>
        </tr>

        <tr>
            <td>Server Name</td>
            <td>{{.Server.Ssl}}</td>
        </tr>

        <tr>
            <td>User Name</td>
            <td>{{.Server.UserName}}</td>
        </tr>

       <tr>
            <td>Password</td>
            <td>{{.Server.Password}}</td>
        </tr>

       <tr>
            <td>Connections</td>
            <td>{{.Server.Connections}}</td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary " href="/servers">Back to Server list</a>

</div>
{{end}}