{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>{{block "title" .}}
        myapp
        {{end}}
    </title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">


    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/static/coreui/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css">
</head>

<body class="c-app c-no-layout-transition">
 


    <!--  start top navigation -->

 




    <!--   end top navigation -->


    <div class="c-wrapper">
      <div class="h-100" style="overflow-x:auto">
  
          <header class="c-header c-header-dark c-header-fixed">
           
            <a class="c-header-brand d-lg c-header-brand-sm-up-left ml-3" href="/query">

              <h5>QSQL</h5>
          </a>
  
              <ul class="c-header-nav mfs-auto">
  
  
                <li class="c-header-nav-item dropdown">
                     

                      <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                      aria-expanded="false">
                      {{with .CurrentServer}} {{.Name}} {{end}}
                   </a> 
                   <div class="dropdown-menu dropdown-menu-right pt-0">
                          {{if .Servers}}
                          {{range .Servers}}
                          {{if not .OnHold}}
                          <a class="dropdown-item" href="/servers/select/{{.ID}}">{{.Name}} using {{.UserName}}</a>
                          {{end}}
                          {{end}}
                          {{end}}
                      </div>
                  </li>


                  <li class="c-header-nav-item dropdown d-md-down-none mx-2">
                      <a class="c-header-nav-link" href="/query"> Run Query </a>
                  </li>


                  <li class="c-header-nav-item dropdown">
                     
                          <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    Saved Queries
                 </a> 
                 <div class="dropdown-menu dropdown-menu-right pt-0">
  
                          <a class="dropdown-item" href="/savesql/run">Run</a>
                          <a class="dropdown-item" href="/savesql">Manage</a>
  
                      </div>
                  </li>
  
  
  
                  <li class="c-header-nav-item dropdown d-md-down-none mx-2">
                      <a class="c-header-nav-link" href="/batchquery"> Batch Queries </a>
                  </li>
                  <li class="c-header-nav-item dropdown d-md-down-none mx-2">
                      <a class="c-header-nav-link" href="/servers"> Servers </a>
                  </li>
  

                  <li class="c-header-nav-item dropdown d-md-down-none mx-2">
                    <a class="c-header-nav-link" href="/queryalias">Query Alias</a>
                </li>
                <li class="c-header-nav-item dropdown d-md-down-none mx-2">
                  <a class="c-header-nav-link" href="/help">Help</a>
                </li>

  
                 
  
  
              </ul>
          </header>
  
  
  
  
  
  
  
  
          {{template "content" .}}
      </div>
  
  
  
  </div>








    <script>
        var websocketurl = "ws://"+ "{{ .HostUrl}}"+"/ws/notification"
    </script>
<script src="/static/coreui/vendors/coreui/coreui-pro/js/coreui.bundle.min.js"></script>


<script src="/static/coreui/vendors/coreui/icons/js/svgxuse.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>


     <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js" type="text/javascript"></script>

    <!--https://sweetalert2.github.io/#download-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11" type="text/javascript"></script>





    <script src="/static/js/reconnecting-websocket.min.js" type="text/javascript"></script>




    <script src="/static/js/websocket.js" type="text/javascript"></script>


    <script>
 






        function notifyModel(message, type = 'success') {

            Swal.fire({
                position: 'top-end',
                icon: type,
                title: message,
                text: 'Something went wrong!',
                showConfirmButton: false,
                timer: 1500
            })
        }



     

        {{ with .Error }}
        Swal.fire({
                            position: 'top-end',
                            icon: "error",
                            text: "{{.}}",
                            showConfirmButton: false,
                            timer: 4000,
                            showCloseButton: true
                            })
        {{ end }}

      
        {{ with .Flash }}
        

        Swal.fire({
                            position: 'top-end',
                            icon: "success",
                            text: "{{.}}",
                            showConfirmButton: false,
                            timer: 2000,
                            showCloseButton: true
                            })
        {{ end }}

        {{ with .Warning }}
        Swal.fire({
                            position: 'top-end',
                            icon: "warning",
                            text: "{{.}}",
                            showConfirmButton: false,
                            timer: 2500,
                            showCloseButton: true
                            })
         {{ end }}
    </script>




    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">





    {{block "aftercontent" .}}
    {{end}}
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/jquery.sticky.js"></script>
    <script src="/static/js/main.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/work.css">

</body>



<script>

function uuidv4() {
  return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
    (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
  );
}

function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}


  
    $(document).ready( function () {

        document.cookie = "lasttabid" + "=" + getCookie("tabid")


        document.cookie = "tabid" + "=" + uuidv4()
  } );
</script>


</html>


































{{end}}