{{define "query_save_form"}}
<div style=" ">
  <form action="/savesql/add" method="POST">
    <div class="row">
      <div class="col"  style="padding-bottom: 10px;"><p class="h5">Saved query <button type="submit" class="float-right btn btn-ghost-primary">Save</button></p></div>
   

      </div>

    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <input name="id"   type="hidden" value="{{.Form.ID}}"></input>

    <div class="form-group">
      <label for="category">Category</label>
      <input id="category" class="form-control {{with .Form.FieldErrors.category}} is-invalid {{end}}" type="text"
        name="category" aria-describedby="categoryhelp" placeholder="Category" value='{{.Form.Category}}'
        required></input>
      <!-- Use the `with` action to render the value of .Form.FieldErrors.title if it is not empty. -->
      {{with .Form.FieldErrors.category}}
      <div class='invalid-feedback'>{{.}}</div>
      {{end}}
    </div>



    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" class="form-control {{with .Form.FieldErrors.name}} is-invalid {{end}}" type="text"
        name="name" aria-describedby="namehelp" placeholder="Name" value='{{.Form.Name}}'
        required></input>
      <!-- Use the `with` action to render the value of .Form.FieldErrors.title if it is not empty. -->
      {{with .Form.FieldErrors.name}}
      <div class='invalid-feedback'>{{.}}</div>
      {{end}}
    </div>

  
    <div class="form-group">
        
      <input type="hidden"   name ="sql" class="form-control {{with .Form.FieldErrors.sql}} is-invalid {{end}} " v-model="contentB" value="{{.Form.Sql}}"></input>
      {{with .Form.FieldErrors.sql}}
      <div class='invalid-feedback'>{{.}}</div>
      {{end}}

      </div>
 
    
  </form>
</div>
{{end}}