{{define "query_single_col"}}
<div v-if="showSinglColumn" class="modal right fade   float-right" :class="{  show: showSinglColumn }" id="myModal3" tabindex="-1" style="display:block" role="dialog"
aria-labelledby="myModalLabel2">

<div class="modal-mask" @click="showSinglColumn = false">
  <div class="modal-wrapper" @click="donothing($event)">

    <div class="modal-dialog" role="document">
      <div class="modal-content">

   



        <div class="row p-2">
          <div class="col">
            <div class="card ">
              <div class="card-header">
                <strong class="font-weight-bold">[[ singleColumnData.Name ]]  || 
                 
                  [[singleColumnData.DatabaseType]] [
                  <span v-if="singleColumnData.HasPrecisionScale">
                    [[singleColumnData.Precision]],[[singleColumnData.Scale]]
                  </span>
                  <span v-else>
                    [[singleColumnData.Length]]
                  </span>]
                
              </strong>
                <button class="btn btn-ghost-danger float-right" type="button" @click="showSinglColumn = false" >X</button>
              </div>
              <div class="card-body"> 
                <editor class="prettyprint" :lang="singleColumnMode" editor-id="editorR"   :content="contentR" :setreadonly="true" >

              </div>
            </div>
          </div>
        </div>
        
      
      
      

      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div>
</div>

</div><!-- modal -->

 
    
{{end}}