{{define "query_alias_form"}}
<div style="padding:25px">
  <form action="/queryalias/add" method="POST">

    <div class="row">
      <div class="col-8"  style="padding-bottom: 10px;"><p class="h5">Add Query Alias</p></div>
      <div class="col-2"  style="padding-bottom: 10px;">        <button type="submit" class="btn btn-primary">Save</button>
      </div>

      </div>

   

    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <input name="id"   type="hidden" value="{{.Form.ID}}"></input>

 



    <div class="form-group">
      <label for="name">Alias</label>
      <input id="name" class="form-control {{with .Form.FieldErrors.name}} is-invalid {{end}}" type="text"
        name="name" aria-describedby="namehelp" placeholder="@Alias must start with @" value='{{.Form.Name}}'
        required></input>
      <!-- Use the `with` action to render the value of .Form.FieldErrors.title if it is not empty. -->
      {{with .Form.FieldErrors.name}}
      <div class='invalid-feedback'>{{.}}</div>
      {{end}}
    </div>

   
   
    <div class="form-group">
        Query: 
      <input type="hidden"   name ="sql" class="form-control {{with .Form.FieldErrors.sql}} is-invalid {{end}} " v-model="contentB" value="{{.Form.Sql}}"></input>
      {{with .Form.FieldErrors.sql}}
      <div class='invalid-feedback'>{{.}}</div>
      {{end}}

      </div>

  </form>
</div>
{{end}}