{{define "query_save_form"}}
<div style="padding:25px">
  <form action="/savesql/add" method="POST">

    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

    <div class="form-group">
      <label for="catagory">Catagory</label>
      <input id="catagory" class="form-control {{with .Form.FieldErrors.catagory}} is-invalid {{end}}" type="text"
        name="catagory" aria-describedby="catagoryhelp" placeholder="Catagory" value='{{.Form.Catagory}}'
        required></input>
      <!-- Use the `with` action to render the value of .Form.FieldErrors.title if it is not empty. -->
      {{with .Form.FieldErrors.Catagory}}
      <div class='invalid-feedback'>{{.}}</div>
      {{end}}
    </div>



    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" class="form-control {{with .Form.FieldErrors.name}} is-invalid {{end}}" type="text"
        name="name" aria-describedby="namehelp" placeholder="Name" value='{{.Form.Name}}'
        required></input>
      <!-- Use the `with` action to render the value of .Form.FieldErrors.title if it is not empty. -->
      {{with .Form.FieldErrors.name}}
      <div class='invalid-feedback'>{{.}}</div>
      {{end}}
    </div>


    <div class="form-group">
       
      <input type="hidden"   name ="sql" class="form-control" v-model="contentA" value="{{.Form.Sql}}"></input>
      </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>


  </form>
</div>
{{end}}